bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.3
greenlet==3.3.0
iniconfig==2.3.0
loguru==0.7.3
packaging==25.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==9.0.2
python-dotenv==1.2.1
SQLAlchemy==2.0.45
typing_extensions==4.15.0
