name: Build, Test, and Deploy

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/checkout@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        # Ensure pytest and its plugins are installed
        pip install pytest pytest-faker cryptography bcrypt python-dotenv sqlalchemy

    - name: Run Tests with Pytest
      env:
        # Inject the GitHub Secrets into the environment for the tests
        ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
        HASH_STATIC_SALT: ${{ secrets.HASH_STATIC_SALT }}
      run: |
        # Run from root to ensure absolute imports work
        pytest database/tests/