name: Build, Test, and Deploy

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
        ENCRYPTION_KEY: "I6XWGKxqoi1qR-U6ugTjav7Jf6T0sMr5o_rEPKAW9Lo="
        HASH_STATIC_SALT: "Detection-en-temps-reel-avec-webcam-et-image-to-text"
        PYTHONPATH: .

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.11.14
      uses: actions/setup-python@v5
      with:
        python-version: "3.11.14"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

        pip install -r requirements.pip.txt

        pip install pytest pytest-faker cryptography bcrypt python-dotenv sqlalchemy

    - name: Run tests
      run: |
        pytest